* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table{
    border: white;
    width: 80%;
    margin-left: 50px;
}

.index-div{
  margin: 20px 0px 0px 50px;
}

.show-body{
  margin: 30px 50px;
}

.show-link{
  margin-left: 30px;
}

.edit{
  float: left;
  margin: 20px;
}

.edit-p{
  margin: 15px auto 0px 18px;
 line-height: 10px;
}

.notice{
  margin: 30px 50px;
  color: #008000;
}

.index-title{
 margin-left: 30px;
}

.error{
  margin: 20px;
  text-align: left;
}






// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
